//general vars
$roboto: Roboto, proxima-nova, sans-serif;

$blue_primary: #0078fd;
$blue_light: #3290fc;

$yellow_primary: #ffbf00;

$off_white: #f9f9f9;
$faded_white: rgba(white, 0.15);

$ease_in_out_quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);

$font_body: $roboto;

$font_color: #fff;

$background_body: #000;
$background_header: #1e1f21;

$cell_padding: 1.07em 0.714em;
